<div class="container">
    <div class="col-md-12" style="height:auto;">
        <h1>Danh sách thông tin giáo viên</h1>
        <button data-toggle="modal" data-target="#myModal" id="add-new" class="btn-main1" data-backdrop="static" data-keyboard="false"></button>
    </div>
    <table id="myTable" style="width:1300px;height:auto" class="table-light"></table>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg" style="margin-left: 20em !important">
            <div class="modal-content" style="width:1200px;height:auto">
                <div class="modal-header">
                    <h4 class="modal-title" style="float:left">Thêm giáo viên</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="card bg-light">
                        <div class="card-header">Thông tin account</div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div class="form-group col-md-12">
                                        <label id="idTeacher" hidden></label>
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control input-requied" id="email" placeholder="Email">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="passWord">Password</label>
                                        <input type="password" class="form-control input-requied" id="passWord" placeholder="Password">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="input">Hình đại diện</label>
                                    <img src="~/Content/Image/avatar.jpg" width="200" height="200" class="rounded mt-2 d-block" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card bg-light">
                            <div class="card-header">Thông tin cá nhân</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="name_Teacher">Họ Tên</label>
                                        <input type="text" class="form-control input-requied" id="name_Teacher" placeholder="Nguyễn thị B">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="first_name">Tên tắt(Xếp thời khóa biểu)</label>
                                        <input type="text" class="form-control input-requied" id="first_name" placeholder="B-NT">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label for="sex">Giới tính</label>
                                        <select id="sex" class="form-control custom-select">
                                            <option value="true">Nam</option>
                                            <option value="false">Nữ</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="people">Dân tộc</label>
                                        <select id="people" class="form-control custom-select"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <label for="address">Địa chỉ nhà</label>
                                        <input type="text" class="form-control col-md-12 input-requied" id="address">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="prefecture">Tỉnh</label>
                                        <select class="form-control custom-select" selected="selected" id="prefecture"></select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="city">Thành phố</label>
                                        <select class="form-control custom-select" selected="selected" id="city"></select>

                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="phuongxa">Phường xã</label>
                                        <select class="form-control custom-select" selected="selected" id="phuongxa"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="birth_day">Ngày sinh</label>
                                        <input type="date" class="form-control" id="birth_day">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="birth_place">Nơi sinh</label>
                                        <select class="form-control custom-select" selected="selected" id="birth_place"></select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="matrimony">Tình trạng hôn nhân</label>
                                        <select class="form-control custom-select" selected="selected" id="matrimony">
                                            <option value="" selected></option>
                                            <option value="Đã kết hôn">Đã kết hôn</option>
                                            <option value="Đang hẹn hò">Đang hẹn hò</option>
                                            <option value="FA">FA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card bg-light">
                            <div class="card-header">Thông tin liên lạc</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="phone_number">Số điện thoại</label>
                                        <input type="text" class="form-control" id="phone_number" placeholder="0919333309">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="email2">Email</label>
                                        <input type="text" class="form-control" id="email2" placeholder="thangbom150895@yahoo.com">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="identity_card_number">Số chứng minh nhân dân</label>
                                        <input type="text" class="form-control input-requied" id="identity_card_number" placeholder="352334423">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card bg-light">
                            <div class="card-header">Thông tin liên lạc</div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <label for="gifted">Sở trường</label>
                                        <input type="text" class="form-control col-md-12 input-requied" id="gifted" placeholder="Hát,múa,đàn...">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="status_heal">Tình trạng sức khỏe</label>
                                        <select class="form-control custom-select" selected="selected" id="status_heal">
                                            <option value="" selected></option>
                                            <option value="0">Bình thường</option>
                                            <option value="1">Tốt</option>
                                            <option value="2">Rất tốt</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for="disabilities">Khuyết tật</label>
                                        <input type="text" class="form-control col-md-12 input-requied" id="disabilities" placeholder="Không có thì điền vào không!">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="nameBank">Ngân hàng mở TK</label>
                                        <select class="form-control custom-select col-md-12" selected="selected" id="nameBank"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="numberBank">Số tài khoản ngân hàng</label>
                                        <input type="text" class="form-control col-md-12 input-requied" id="numberBank" placeholder="1234-1234-1234-1242">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row has-danger">
                                    <div class="form-group col-md-5">
                                        <div class="form-group">
                                            <label for="start_date_social_insurance">Ngày bắt đầu đóng BHXH</label>
                                            <input type="date" class="form-control" id="start_date_social_insurance">
                                            <div style="display: none;" class="alert alert-danger">
                                                <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="number_social_insurance">Số sổ BHXH</label>
                                        <input type="text" class="form-control col-md-12 input-requied" id="number_social_insurance" placeholder="1234-1234-1234-1242">
                                        <div style="display: none;" class="alert alert-danger">
                                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="add-new-teacher" type="submit" class="btn btn-primary">Thêm mới</button>
                        <button style="display:none" id="edit-teacher" type="submit" class="btn btn-danger">Sửa</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            var flagValid = false;
            var productListVM;
            GetListTeacher();
            var temp;
            $('#add-new').click(function () {
                $('#add-new-teacher').show();
                $('#edit-teacher').hide();
            });
            $('.input-requied').keyup(function () {
                var value = $(this).val();
                if (value.length > 3) {
                    $(this).removeClass("is-invalid").addClass("is-valid");
                }
                if (value.length < 3) {
                    $(this).removeClass("is-valid").addClass("is-invalid");
                    flagValid = false;
                }
            });
            $('#email').change(function (e) {
                var email = $(this).val();
                if (email == "") {
                    $(this).addClass("is-invalid");
                    $(this).parent().find('.alert-danger').html("Email không được để trống");
                    $(this).parent().find('.alert-danger').show().delay(2000).fadeOut();
                    flagValid = false;
                }
                if (!isEmail(email)) {
                    $(this).addClass("is-invalid");
                    $(this).parent().find('.alert-danger').html("Sai email");
                    $(this).parent().find('.alert-danger').show().delay(2000).fadeOut();
                    flagValid = false;
                }
                //$.post("/ManageTeacher/CheckEmailAndUserName", { email: email })
                //    .done(function (data) {
                //        if (data.result.resultCode == "01") {
                //            $('#email').addClass("is-invalid");
                //            $('#email').parent().find('.alert-danger').html(data.result.message);
                //            $('#email').parent().find('.alert-danger').show().delay(2000).fadeOut();
                //            $('#email').focus();
                //        }
                //    });

                $('#email2').val(email);
            });
            $('#edit-teacher').click(function () {
                flagValid = true;
                //Get teacher info
                let email = $('#email').val();
                let passWord = $('#passWord').val();
                let name_Teacher = $('#name_Teacher').val();
                let sex = $('#sex').val();
                let address = $('#address').val();
                let first_name = $('#first_name').val();
                let birth_day = $('#birth_day').val();
                let birth_place = $('#birth_place').val();
                let matrimony = $('#matrimony').val();
                let people = $('#people').val();
                let phone_number = $('#phone_number').val();
                let email2 = $('#email2').val();
                let identity_card_number = $('#identity_card_number').val();
                let gifted = $('#gifted').val();
                let status_heal = $('#status_heal').val();
                let disabilities = $('#disabilities').val();
                let nameBank = $('#nameBank').val();
                let numberBank = $('#numberBank').val();
                let start_date_social_insurance = $('#start_date_social_insurance').val();
                let number_social_insurance = $('#number_social_insurance').val();
                let city = $('#city').val();
                let prefecture = $('#prefecture').val();
                let name_birth_place = $('#birth_place option:selected').text();
                let phuongxa = $('#phuongxa').val();
                let Id = $('#idTeacher').val();
                let teacher = {

                    Id:Id,
                    email: email,
                    email2: email2,
                    passWord: passWord,
                    name_Teacher: name_Teacher,
                    sex: sex,
                    address: address,
                    first_name: first_name,
                    birth_day: birth_day,
                    birth_place: birth_place,
                    matrimony: matrimony,
                    phone_number: phone_number,
                    identity_card_number: identity_card_number,
                    gifted: gifted,
                    status_heal: status_heal,
                    disabilities: disabilities,
                    nameBank: nameBank,
                    numberBank: numberBank,
                    start_date_social_insurance: start_date_social_insurance,
                    number_social_insurance: number_social_insurance,
                    city: city,
                    prefecture: prefecture,
                    phuongxa: phuongxa,
                    people: people,
                    name_birth_place: name_birth_place,
                }
                $.when(isValidInputs()).done(function () {
                    $.when(isValidCombobox()).done(function () {
                        if (flagValid) {
                            $.ajax({
                                type: "POST",
                                url: "/ManageTeacher/Edit",
                                data: teacher,
                                success: function (data) {
                                    if (data.result.resultCode == "10") {
                                        alert(data.result.message);
                                        $('#myModal').modal('toggle');
                                        location.reload();
                                    }
                                    if (data.result.resultCode == "02") {
                                        for (var i = 0; i < data.result.errors.length; i++) {
                                            $('#' + data.result.errors[i].Title + '').addClass("is-invalid");
                                            $('#' + data.result.errors[i].Title + '').parent().find('.alert-danger').html(data.result.message[i]);
                                            $('#' + data.result.errors[i].Title + '').parent().find('.alert-danger').show().delay(2000).fadeOut();
                                        }
                                    }
                                },
                                error: function (data) {
                                    alert("fail");
                                }
                            });
                        }
                    });
                });
            });
            $('#add-new-teacher').click(function () {
                flagValid = true;
                //Get teacher info
                let email = $('#email').val();
                let passWord = $('#passWord').val();
                let name_Teacher = $('#name_Teacher').val();
                let sex = $('#sex').val();
                let address = $('#address').val();
                let first_name = $('#first_name').val();
                let birth_day = $('#birth_day').val();
                let birth_place = $('#birth_place').val();
                let matrimony = $('#matrimony').val();
                let people = $('#people').val();
                let phone_number = $('#phone_number').val();
                let email2 = $('#email2').val();
                let identity_card_number = $('#identity_card_number').val();
                let gifted = $('#gifted').val();
                let status_heal = $('#status_heal').val();
                let disabilities = $('#disabilities').val();
                let nameBank = $('#nameBank').val();
                let numberBank = $('#numberBank').val();
                let start_date_social_insurance = $('#start_date_social_insurance').val();
                let number_social_insurance = $('#number_social_insurance').val();
                let city = $('#city').val();
                let prefecture = $('#prefecture').val();
                let name_birth_place = $('#birth_place option:selected').text();
                let phuongxa = $('#phuongxa').val();
                let teacher = {
                    email: email,
                    email2:email2,
                    passWord: passWord,
                    name_Teacher: name_Teacher,
                    sex: sex,
                    address: address,
                    first_name: first_name,
                    birth_day: birth_day,
                    birth_place: birth_place,
                    matrimony: matrimony,
                    phone_number: phone_number,
                    identity_card_number: identity_card_number,
                    gifted: gifted,
                    status_heal: status_heal,
                    disabilities: disabilities,
                    nameBank: nameBank,
                    numberBank: numberBank,
                    start_date_social_insurance: start_date_social_insurance,
                    number_social_insurance: number_social_insurance,
                    city: city,
                    prefecture: prefecture,
                    phuongxa: phuongxa,
                    people: people,
                    name_birth_place: name_birth_place,
                }
                $.when(isValidInputs()).done(function () {
                    $.when(isValidCombobox()).done(function () {
                        if (flagValid) {
                            $.ajax({
                                type: "POST",
                                url: "/ManageTeacher/Create",
                                data:  teacher ,
                                success: function (data) {
                                    if (data.result.resultCode == "10") {
                                        alert(data.result.message);
                                        $('#myModal').modal('toggle');
                                        location.reload();
                                    }
                                    if (data.result.resultCode == "02") {
                                        for (var i = 0; i < data.result.errors.length; i++) {
                                            $('#' + data.result.errors[i].Title + '').addClass("is-invalid");
                                            $('#' + data.result.errors[i].Title + '').parent().find('.alert-danger').html(data.result.message[i]);
                                            $('#' + data.result.errors[i].Title + '').parent().find('.alert-danger').show().delay(2000).fadeOut();
                                        }
                                    }
                                },
                                error: function (data) {
                                    alert("fail");
                                }
                            });
                        }
                    });
                });
            });
            var isValidInputs = function isValidInput() {
                $("input[type=text]").each(function () {
                    var html = "Thông tin bắt buộc";
                    var element = $(this);
                    if (element.val() == "") {
                        element.addClass("is-invalid");
                        element.parent().find('.alert-danger').html(html);
                        element.parent().find('.alert-danger').show().delay(20000).fadeOut();
                        flagValid = false;
                    }
                });
            }
            var isValidCombobox = function isValidCombobox() {
                $("select").each(function () {
                    var html = "Thông tin bắt buộc";
                    var element = $(this);
                    if (element.val() == "") {
                        element.addClass("is-invalid");
                        element.parent().find('.alert-danger').html(html);
                        element.parent().find('.alert-danger').show().delay(20000).fadeOut();
                        flagValid = false;
                    }
                });
            }
            $("select").change(function () {
                var element = $(this);
                if (element.val() != "") {
                    element.removeClass("is-invalid").addClass("is-valid");
                }
            });
            function isEmail(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            };
            function isPhone(phone) {
                var regex = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
                return regex.test(phone);
            };
            $.getJSON("/Content/file/peopel.json", function (data) {
                var items = "<option value=''>Chọn Dân tộc</option>";
                $.each(data, function (key, val) {
                    items = items + "<option value=" + val + ">" + val + "</option>";
                });
                $("#people").append(items);

            });
            $.getJSON("/Content/file/state.json", function (data) {
                var items = "<option value=''>Chọn Tỉnh</option>";
                $.each(data, function (key, val) {
                    items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                });
                $("#prefecture").append(items);

            });
            $.getJSON("/Content/file/state.json", function (data) {
                var items = "<option value=''>Chọn Tỉnh</option>";
                $.each(data, function (key, val) {
                    items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                });
                $("#birth_place").append(items);

            });
            $.getJSON("/Content/file/nameBank.json", function (data) {
                var items = "<option value=''>Chọn Ngân hàng</option>";
                $.each(data, function (key, val) {
                    items = items + "<option value=" + val + ">" + val + "</option>";
                });
                $("#nameBank").append(items);

            });
            $('#prefecture').change(function (e) {
                var codeState = $(this).val();
                $('#city').empty();
                if (codeState != "") {
                    $.getJSON("/Content/file/city.json", function (data) {
                        var items = "<option value=''>Chọn Thành Phố</option>";;
                        $.each(data, function (key, val) {
                            if (val.parent_code == codeState) {
                                items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                            }
                        });
                        $("#city").append(items);
                    });
                }
            });
            $('#city').change(function () {
                var codeState = $("#city").val();
                $('#phuongxa').empty();
                if (codeState != "") {
                    $.getJSON("/Content/xa-phuong/" + codeState + ".json", function (data) {
                        var items = "<option value=''>Chọn Phường xã</option>";
                        $.each(data, function (key, val) {
                            if (val.parent_code == codeState) {
                                items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                            }
                        });
                        $("#phuongxa").append(items);
                    });
                }
            });
            function getNamePrefectureWithKey(keyPrefecture) {
                if (keyPrefecture != "") {
                    var studentId = null;
                  var temp =  $.getJSON("/Content/file/state.json", function (data) {
                        return $.each(data, function (key, val) {
                            if (key == keyPrefecture) {
                                var studentId = val.name_with_type;
                            }
                        });
                    }).done(function () {
                        return studentId;
                        });
                  return temp.done();
                }
            }
          
            function GetListTeacher() {
                $.get("/ManageTeacher/GetListTeacher", function (data) {
                    var listTeacher = jQuery.parseJSON(data);
                    function getprefecture() {
                        listTeacher.forEach(function (item, index) {
                            $.getJSON("/Content/file/state.json", function (data) {
                                $.each(data, function (key, val) {
                                    if (key == item.native_land) {
                                        item.native_land = val.name_with_type;
                                    }
                                });
                            });
                        });
                        return listTeacher;
                    }

                    $.when(getprefecture()).done(function (datas) {

                        productListVM = {

                            dt: null,

                            init: function (datas) {
                                dt = $('#myTable').DataTable({
                                    data: datas,
                                    lengthMenu: [[5, 20, 50, -1], [5, 20, 50, "All"]],
                                    columns: [
                                        {
                                            title: "STT", width: "2%",
                                            render: function (data, type, full, meta) {

                                                return meta.row + 1;
                                            }
                                        },
                                        { title: "Mã số", width: "2%", data: "Id" },
                                        { title: "Họ tên", data: "name_Teacher" },
                                        {
                                            title: "Giới tính", data: null,
                                            render: function (data) {
                                                return !data.sex ? "<img src='../Content/icon/icon-girl.png' alt='Chỉnh sửa' height='25' width='25'>" : "<img src='../Content/icon/icon-boy.jpg' alt='Chỉnh sửa' height='25' width='25'>";
                                            }
                                        },
                                        {
                                            title: "Ngày sinh", data: "birth_day"
                                        },
                                        { title: "SĐT", data: "phone_number" },
                                        { title: "Email", width: "5%", data: "email" },
                                        { title: "Địa chỉ", width: "10%", data: "address" },
                                        {
                                            title: "Quê quán", width: "20%", data: null,
                                            render: function (data) {
                                                return "<label>" + data.native_land + "</label>";
                                            }
                                        },
                                        {
                                            title: "Lịch giảng dạy",
                                            data: null,
                                            sortable: false,
                                            searchable: false,
                                            width: "10%",
                                            render: function (data) {
                                                return "<a href='/ManageTeacher/Schedule/"+ data.Id+"'  >Xem lịch</a>" ;
                                            }
                                        },
                                        {
                                            title: "",
                                            data: null,
                                            sortable: false,
                                            searchable: false,
                                            width: "2%",
                                            render: function (data) {
                                                return data.status_deleted ? "<button onclick='DeleteTeacher(\"" + data.Id + "\");'  class='btn btn-danger'>Inactive</button>" : "<button onclick='DeleteTeacher(\"" + data.Id +"\");' class='btn btn-success'>Active</button>";
                                            }
                                        },
                                        {
                                            title: "",
                                            data: null,
                                            sortable: false,
                                            searchable: false,
                                            width: "12%",
                                            render: function (data) {
                                               
                                                return "<a href='#' onclick='EditTeacher(\"" + data.Id +"\");'><img src='../Content/icon/edit-icon.png' alt='Chỉnh sửa' height='25' width='25'></a>";
                                            }
                                        },
                                    ],
                                    language: {
                                        "info": "_START_ -> _END_ Tổng số _TOTAL_ giáo viên",
                                        "paginate": {
                                            "first": "Đàu trang",
                                            "last": "Cuối trang",
                                            "next": ">",
                                            "previous": "<"
                                        },
                                        "search": "Tìm kiếm:",
                                        "lengthMenu": "Hiển thị _MENU_ mục",
                                    }
                                });

                            }
                        }
                        productListVM.init(datas);
                        
                        $('#myTable tbody').on('click', 'tr', function () {
                        });
                        
                    });
                    
                });
                
            }
          
           
        });
        function DeleteTeacher(id) {
            var r = confirm("Press a button!");
            if (r == true) {
                $.ajax({
                    url: "Delete/"+id,
                    type: "get",
                    success: function (response) {
                        alert(response.result.resultCode + "" + response.result.statusdeleted);
                        response.result.statusdeleted ? $(this).removeClass('btn-success').addClass('btn-danger') : $(this).removeClass('btn-danger').addClass('btn-success');
                        location.reload();
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });
            }
        }
        function EditTeacher(id) {
            $.ajax({
                url: "GetTeacher/"+id+"",
                type: "get",
                success: function (response) {
                    $('#myModal').modal('show');
                    $('#email').val(response.result.data.email);
                    passWord = $('#passWord').val(response.result.data.passWord);
                    name_Teacher = $('#name_Teacher').val(response.result.data.name_Teacher);
                    sex = $('#sex select').val(response.result.data.sex);
                    address = $('#address').val(response.result.data.address);
                    first_name = $('#first_name').val(response.result.data.first_name);
                    birth_day = $('#birth_day').val(response.result.data.birth_day);
                    birth_place = $('#birth_place').val(response.result.data.birth_place);
                    matrimony = $('#matrimony').val(response.result.data.matrimony);
                    people = $('#people').val(response.result.data.people);
                    phone_number = $('#phone_number').val(response.result.data.phone_number);
                    email2 = $('#email2').val(response.result.data.email);
                    identity_card_number = $('#identity_card_number').val(response.result.data.identity_card_number);
                    gifted = $('#gifted').val(response.result.data.gifted);
                    status_heal = $('#status_heal').val(response.result.data.status_heal);
                    disabilities = $('#disabilities').val(response.result.data.disabilities);
                    nameBank = $('#nameBank').val(response.result.data.nameBank);
                    numberBank = $('#numberBank').val(response.result.data.numberBank);
                    start_date_social_insurance = $('#start_date_social_insurance').val(response.result.data.start_date_social_insurance);
                    number_social_insurance = $('#number_social_insurance').val(response.result.data.number_social_insurance);
                    prefecture = $('#prefecture').val(response.result.data.prefecture);
                    idTeacher = $('#idTeacher').val(response.result.data.Id);
                    if (prefecture != "") {
                        $.getJSON("/Content/file/city.json", function (data) {
                            var items = "<option value=''>Chọn Thành Phố</option>";;
                            $.each(data, function (key, val) {
                                if (val.parent_code == response.result.data.prefecture) {
                                    items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                                }
                            });
                            $("#city").append(items);
                            city = $('#city').val(response.result.data.city);
                            if (city != "") {
                                $.getJSON("/Content/xa-phuong/" + response.result.data.city + ".json", function (data) {
                                    var items = "<option value=''>Chọn Phường xã</option>";
                                    $.each(data, function (key, val) {
                                        if (val.parent_code == response.result.data.city) {
                                            items = items + "<option value=" + val.code + ">" + val.name_with_type + "</option>";
                                        }
                                    });
                                    $("#phuongxa").append(items);
                                    phuongxa = $('#phuongxa').val(response.result.data.phuongxa);
                                });
                            }
                        });

                    }
                   
                    name_birth_place = $('#birth_place option:selected').text();
                    $('#add-new-teacher').hide();
                    $('#edit-teacher').show();
                },
                error: function (xhr) {
                    //Do Something to handle error
                }
            });
        }
    </script>
