<a href="/ManageStudent/Create" class="btn btn-primary">Thêm mới học sinh</a>
<div style="margin:30px;">
    <table id="table" class="display" cellspacing="0">
        <thead>
            <tr style="text-align:left; ">
                <th>Mã số học sinh</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Hình đại diện</th>
                <th>Quê quán</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var table = $('#table').DataTable({
        "processing": true,
        "serverSide": true,
        "dom": 'flrtip',
        "ajax": {
            url: "/ManageStudent/CustomServerSideSearchAction",
            type: 'POST',
            //data: function (d) {
            //    d.minDate = $('#datepickerStart').val();
            //    d.maxDate = $('#datepickerEnd').val();
            //},
        },
        "lengthMenu": [[5, 10, 15], [5, 10, 15]],
        "language": {
            "search": "",
            "searchPlaceholder": "Search..."
        },
        "columns": [
            { data: 'Id', name: "Id", "Width": "5%" },
            {
                data: null, name: 'FullName', "autoWidth": true, "orderable": false,
                render: function (data) {
                    return data.lastname_Student + " " + data.firstname_Student;
                }
            },
            {
                data: 'sex', name: 'sex', "autoWidth": true,
                render: function (data) {
                    return data ? '<img src="/Content/icon/icon-boy.jpg" width="42" height="42" />' : '<img src= "/Content/icon/icon-girl.png" width="42" height="42" />';
                }
            },
            { data: 'birthDay', name: 'birthDay', "autoWidth": true, "orderable": false },
            {
                data: 'urlImage', name: 'urlImage', "autoWidth": true, "orderable": false,
                render: function (data) {
                    return '<img src="' + data +' " width="100" height="100">';
                }
            },
         
            {
                data: "quequan", name: 'quequan', "autoWidth": true, "orderable": false
            }
        ]
    });
</script>