<div style="margin:30px;">
    <table id="table" class="display" cellspacing="0">
        <thead>
            <tr style="text-align:left; ">
                <th></th>
                <th>Mã số học sinh</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>SĐT</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Quê quán</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var table = $('#table').DataTable({
        "processing": true,
        "serverSide": true,
        "dom": 'flrtip',
        "ajax": {
            url: "/ManageStudent/Index",
            type: 'POST',
            //data: function (d) {
            //    d.minDate = $('#datepickerStart').val();
            //    d.maxDate = $('#datepickerEnd').val();
            //},
        },
        "lengthMenu": [[5, 10, 15], [5, 10, 15]],
        "language": {
            "search": "",
            "searchPlaceholder": "Search..."
        },
        "columns": [
            {
                data: "IsUserCreated", name: 'IsUserCreated', "Width": "5%",
                render: function (data) {
                    return data ? '<label class="container"><input class="CheckDelete" type= "checkbox"><span class="checkmark"></span></label>' : '';
                }
            },
            { data: 'Id', name: "", "Width": "5%" },
            {
                data: null, name: 'FirstName', "autoWidth": true, "orderable": false,
                render: function (data) {
                    return data.IsUserCreated ? '<a class="ShowDataByName" href="#" >' + data.FirstName + '</a>' : '' + data.FirstName + '';
                }
            },
            {
                data: null, name: 'FullName', "autoWidth": true, "orderable": false,
                render: function (data) {
                    middleName = data.MiddleName == null ? " " : data.MiddleName;
                    return data.FirstName + " " + middleName + " " + data.LastName;
                }
            },
            { data: 'DOB', name: 'DOB', "autoWidth": true, "orderable": false },
            {
                data: null, name: 'DirectManagerId', "autoWidth": true, "orderable": false,
                render: function (data) {
                    return '<div attr-directManagerId="' + data.DirectManagerId + '">' + data.DirectManager + '</div>';
                }
            },
            {
                data: 'Gender', name: 'Gender', "autoWidth": true,
                render: function (data) {
                    return data ? '<img src="/Content/image/boy.jpg" width="42" height="42" />' : '<img src= "/Content/image/girl.png" width="42" height="42" />';
                }
            },
            {
                data: "StartDate", name: 'StartDate', "autoWidth": true, "orderable": false
            }
        ]
    });
</script>