@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết.</h2>

<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName,"Tên người dùng")
        </dd>
    </dl>
</div>
<h4>Danh sách các quyền cho người dùng</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Không có quyền nào được tìm thấy cho người dùng này.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>



