@{
    ViewBag.Title = "EditIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href = "~/Content/Style.css" rel = "stylesheet"/>
}
<body>
    <div class="container">
        <div class="template_1">
            <a href="~/ClassList/SortClassExams" class="btn_SetMark1 col-md-6" role="button"><font  size="6">Nhập điểm kiểm tra/thi tập trung</font></a>
            <button class="btn_SetMark2 col-md-6">Nhập điểm kiểm tra/thi trong lớp</button>
        </div>
    </div>

</body>


