@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa.</h2>

<h3>Bạn có chắc muốn xóa quyền này? </h3>
<p> Xóa quyền này sẽ xóa hết tất cả người dùng từ quyền này.  Nó sẽ không xóa người dùng </p>
<div>
    <h4>Quyền cấp cho người dùng.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name,"Tên quyền")
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về trang trước", "Index")
        </div>
    }
</div>
