
input.form-control {
    height: 100%;
}

    input.form-control:focus {
        border-color: #FF0000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }
.template_1 {
    background-color: aqua;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}
/*.navbar {
    background: linear-gradient(180deg, #3498DB 0%, #3DB1FF 50%, #3498DB 100%);
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}*/
.btn_SetMark1 {
    height: 90%;
    text-align: center;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: linear-gradient(180deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%);
    -webkit-animation: flipinx 2s ease-in-out 0s 1 normal;
    -moz-animation: flipinx 2s ease-in-out 0s 1 normal;
    -ms-animation: flipinx 2s ease-in-out 0s 1 normal;
    animation: flipinx 2s ease-in-out 0s 1 normal;
}
@-webkit-keyframes flipinx {
    0% {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(90deg);
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
    }
}

@keyframes flipinx {
    0% {
        opacity: 0;
        transform: perspective(400px) rotateX(90deg);
    }

    40% {
        transform: perspective(400px) rotateX(-10deg);
    }

    70% {
        transform: perspective(400px) rotateX(10deg);
    }

    100% {
        opacity: 1;
        transform: perspective(400px) rotateX(0deg);
    }
}
.btn_SetMark2 {
    height: 90%;
    background: radial-gradient(ellipse at center, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 56%, rgba(0,0,0,1) 100%);
    top: 20px;
    bottom: 20px;
    right: 20px;
    -webkit-animation: flipiny 3s ease 0s 1 normal;
    -moz-animation: flipiny 3s ease 0s 1 normal;
    -ms-animation: flipiny 3s ease 0s 1 normal;
    animation: flipiny 3s ease 0s 1 normal;
}
@-webkit-keyframes flipiny {
    0% {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(90deg);
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(-10deg);
    }

    70% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(0deg);
        transform: perspective(400px) rotateY(0deg);
    }
}

@keyframes flipiny {
    0% {
        opacity: 0;
        transform: perspective(400px) rotateY(90deg);
    }

    40% {
        transform: perspective(400px) rotateY(-10deg);
    }

    70% {
        transform: perspective(400px) rotateY(10deg);
    }

    100% {
        opacity: 1;
        transform: perspective(400px) rotateY(0deg);
    }
}

.angry-animate {
    -webkit-animation: bounce-in 1s ease 0s 1 normal;
    -moz-animation: bounce-in 1s ease 0s 1 normal;
    -ms-animation: bounce-in 1s ease 0s 1 normal;
    animation: bounce-in 1s ease 0s 1 normal;
}

@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.0);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
.navbar-global {
    background-color: indigo;
}

    .navbar-global .navbar-brand {
        color: white;
    }

    .navbar-global .navbar-user > li > a {
        color: white;
    }

.navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

    .navbar-primary.collapsed {
        width: 60px;
    }

        .navbar-primary.collapsed .glyphicon {
            font-size: 50px;
        }
        .navbar-primary.collapsed ul li a {
            font-size: 0px;
            width: 50px;
            height: 50px;
        }
        .navbar-primary.collapsed .nav-label {
            display: none;
        }
 .btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

    .btn-expand-collapse:hover,
    .btn-expand-collapse:focus {
        background-color: #222;
        color: white;
    }

    .btn-expand-collapse:active {
        background-color: #111;
    }

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navbar-primary-menu li a {
        display: block;
        padding: 10px 18px;
        text-align: left;
        border-bottom: solid 1px #444;
        color: #ccc;
    }

        .navbar-primary-menu li a:hover {
            background-color: #000;
            text-decoration: none;
            color: white;
        }

        .navbar-primary-menu li a .glyphicon {
            margin-right: 6px;
        }

        .navbar-primary-menu li a:hover .glyphicon {
            color: orchid;
        }

.main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
}

.collapsed + .main-content {
    margin-left: 60px;
}