@model DOAN_CHuyenNGanh.Models.Subject

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Môn học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_Subject, "Tên môn học")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về trang trước", "Index")
</p>
