@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Vui lòng kiểm tra và xác nhận email của bạn.
</p>
<p class="text-danger">
    Dành cho bản demo: Nhấp vào đường dẫn để xác nhận email: <a href="@ViewBag.Link">link</a>
    @*Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
